
* {
    margin: 0px;
}
.container{ /*class*/
    background-color: white;
    padding: 5px;
    margin: 0px;
    overflow: auto;
}
.row{
    background-color: pink;
    display: flex;
    padding: 2px;
    position: sticky;
    top: 0px;
    justify-content: space-between;
    height: 100%;
}        
.row1{
    background-color: silver;
    /* color: green; */
    display: flex;
    justify-content: space-around;
    padding: 80px;
    height: 300px;
    align-items: center;
    height: 100%;
}
.row2{
    background-color: rgb(89, 192, 220);
    display: flex;
    justify-content: space-around;
    padding: 100px;
    height: 300px;
    align-items: center;
    height: 100%;
}
.box{
    background-color: white;
    padding: 10px;
}        
.box1{
    background-color: whitesmoke;
    color: black;
    margin: 10px;
    padding: 5px;
    border-radius: 20px;
}
li{
    display: inline;
    padding: 5px;
    font-size: large;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: yellow;
    text-decoration: underline;
    font-size: large;
}
.imgclass{
    border-radius: 100px;
}
